 <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 text-center text-sm-start">
                                Copyright © <script>document.write(new Date().getFullYear())</script> DooSung. All rights reserved.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    <p>Vận hành và phát triển <i class="mdi mdi-heart text-danger"></i> bởi <a >Nanie Developer</a></p>
                                </div>
                            </div>
                        </div>
                    </div>