 <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Menu</li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="uil-fire"></i>
                                    <span>Cảnh báo cháy</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="true">
                                    <li><a href="#">Trực tuyến</a></li>
                                    <li><a href="#">Lịch sử</a></li>
                                    <li><a href="#">Cài đặt</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="uil-raindrops-alt"></i>
                                    <span>Giám sát nước thải</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="true">
                                    <li><a href="#">Trực tuyến</a></li>
                                    <li><a href="#">Lịch sử</a></li>
                                    <li><a href="#">Cài đặt</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="uil-user-circle"></i>
                                    <span>Tài khoản</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="#">Đăng nhập</a></li>
                                    <li><a href="#">Đăng ký</a></li>
                                    <li><a href="#">Quên mật khẩu</a></li>
                                    <li><a href="#">Phân quyền</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>